<footer class="footer pt-1">

  <div class="container footer-container">

    <div class="footer-col">
      <h3 class="footer-col__heading">Find Us</h3>
      <ul class="footer-col__list">
        <li>Mobiler: <em>078111111</em></li>

        <li>------------</li>
      </ul>
      <a href="#">World Covid-19 Report</a>
    </div>

    <div class="footer-col">
      <h3 class="footer-col__heading">Get Assistance</h3>
      <ul class="footer-col__list">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>


    <div class="footer-col">
      <h3 class="footer-col__heading">Follow us on:</h3>
      <ul class="footer-col__list social">
        <li>
          <a href="#"><img src="/img/Icon-awesome-facebook.svg" alt="social media">Facebook</a>
        </li>
        <li>
          <a href="#"><img src="/img/Icon-awesome-twitter.svg" alt="social media">TwitterLink</a>
        </li>


      </ul>
    </div>

  </div>

</footer>

<script src="/js/utils.js" defer></script>