<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<header class="header regular">

    <div class="container">
        <%- include('./partials/nav.ejs', {auth:auth}) %>
    </div>

</header>

<%- include('./partials/mobile-nav.ejs', {auth:auth}) %>

<main>

    <section class="event-options pt-1">

        <div class="container">

            <h1 class="event-option__heading text-center">User Registration</h1>
            <p class="event-options__body text-center">Register to see detail reports</p>

            <div class="event event--options pt-1">

                <div class="contact">

                    <div class="event__card">
                        <p class="event__card-body">Already have an account</p>

                        <a href="/users/login" class="w-50">
                            <input value="Login" class="login-btn" type="button">
                        </a>

                    </div>

                    <div class="event__card">
                        <div class="registration-box">
                            <h3 class="title">Register</h3>
                            <form action="/users/register" method="post">
                                <input name="fullname" placeholder="Your fullname" type="text" required>
                                <input name="email" value="" placeholder="Your email" type="email" required>
                                <input name="password" value="" placeholder="Password" type="text" required>
                                <input value="Submit" class="" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="event-options pt-1" id="venue">

        <div class="venue">
            <div class="venue-inner">
                <div class="container">
                    <div class="row">

                        <div class="event__card">
                            <h2 class="uppercase">streaming channels</h2>
                            <p class="lead"> - Zoom </p>
                            <p class="lead"> - Facebook Live </p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<%- include('./partials/footer.ejs') %>



</body>

</html>